<div class="container">
	
	<table class="table table-striped">
		<tr>
			<th>Email</th>
			<th>Accept</th>
			<th>Refuse</th>
		</tr>
		
		<% @friend_request.each do |friend| %>
			<tr>
				<th><%= link_to friend.user.email , user_path(friend.user_id)  %></th>
				<th><%= button_to "Accept" , accept_friendship_user_friendships_path(friend.user.id) , :class => "btn btn-success" %></th>
				<th><%= button_to "Refuse" , refuse_friendship_user_friendships_path(friend.user.id) , :class => 
				"btn btn-danger" %></th>
			</tr>
		<% end %>
	</table>

</div>