<div class="container">

	<table class="table table-striped">
		<tr>
			<th>Email:</th>
			<th>xxx</th>
		</tr>

		<% @friends.each do |friend| %>
			<tr>
				<td><%= link_to friend.user.email , user_path(friend.user) %></td>
				<% if current_user.friends.include?(friend.user) %>
					<td><%= button_to "Uninvite Friend" , invite_friendship_user_friendships_path(friend.user) , :id => "friend_#{friend.user.id}" , :class => "btn btn-danger" , :remote => true %></td>
				<% else %>
					<td><%= button_to "Invite Friend" , invite_friendship_user_friendships_path(friend.user) , :id => "friend_#{friend.user.id}" , :class => "btn btn-info" , :remote => true %></td>
				<% end %>
			</tr>
 		<% end %>
		
	</table>
	

</div>