<div class="container">
	<h1>New Topic</h1>
	
	<h2><%= @topic.user.email %></h2>
	<p><%= @topic.created_at %></p>
	
	<%= form_for @topic , :url => topics_path(@topic) , :html => { :multipart => true } do |f| %>
		<%= render :partial => "form" , :locals => {:f => f} %>
	<% end %>
</div>




