<div class="container">
	
	<h1>Users</h1>

	<table class="table table-striped">
		<tr>
			<th>email</th>
			<th>Add Friend</th>
		</tr>
		
		<% @users.each do |user| %>
			<tr>
				<td><%= link_to user.email , user_path(user) %></td>
				<% if current_user.friends.include?(user) %>
					<td><%= button_to "Uninvite Friend" , invite_friendship_user_friendships_path(user) , :id => "friend_#{user.id}" , :class => "btn btn-danger" , :remote => true %></td>
				<% else %>
					<td><%= button_to "Invite Friend" , invite_friendship_user_friendships_path(user) , :id => "friend_#{user.id}" , :class => "btn btn-info" , :remote => true %></td>
				<% end %>
			</tr>
 		<% end %>

	</table>

</div>