<div class="container">
	<h2>My Like</h2>

	<table class="table table-striped">
		<tr>
			<th>Title</th>
			<th>User</th>
		</tr>
		
		<% @likes.each do |like| %>
			<tr>
				<td><%= link_to like.topic.title , topic_path(like.topic) %></td>
				<td><%= link_to like.topic.user.email , user_path(like.topic.user) %></td>
			</tr>
		<% end %>
	</table>
</div>