<div class="container show">
	
	<h2><%= @user.nickname ? @user.nickname : @user.email %></h2>
	<%image_tag (current_user.avatar_content_type), style:"width 50px"%>

	<% if current_user != @user %>
		<% if current_user.friends.include?(@user) %>
			<td><%= button_to "Uninvite Friend" , invite_friendship_user_friendships_path(@user) , :id => "friend_#{@user.id}" , :class => "btn btn-danger" , :remote => true %></td>
		<% else %>
			<td><%= button_to "Invite Friend" , invite_friendship_user_friendships_path(@user) , :id => "friend_#{@user.id}" , :class => "btn btn-info" , :remote => true %></td>
		<% end %>
	<% end %>
		
	<% string = '───────────▄▄▄█▄▄█▄▄█▄▄▄ ────────▄▀▀═════════════▀▀▄ ───────█═══════════════════█ ──────█═════════════════════█ ─────█═══▄▄▄▄▄▄▄═══▄▄▄▄▄▄▄═══█ ────█═══█████████═█████████═══█ ────█══██▀────▀█████▀────▀██══█ ───██████──█▀█──███──█▀█──██████ ───██████──▀▀▀──███──▀▀▀──██████ ────█══▀█▄────▄██─██▄────▄█▀══█ ────█════▀█████▀───▀█████▀════█ ────█═════════════════════════█ ────█═════════════════════════█ ────█═══════▀▄▄▄▄▄▄▄▄▄▀═══════█ ────█═════════════════════════█ ───▐▓▓▌═════════════════════▐▓▓▌ ───▐▐▓▓▌▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▐▓▓▌▌ ───█══▐▓▄▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▄▓▌══█ ──█══▌═▐▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▌═▐══█ ──█══█═▐▓▓▓▓▓▓▄▄▄▄▄▄▄▓▓▓▓▓▓▌═█══█ ──█══█═▐▓▓▓▓▓▓▐██▀██▌▓▓▓▓▓▓▌═█══█ ──█══█═▐▓▓▓▓▓▓▓▀▀▀▀▀▓▓▓▓▓▓▓▌═█══█ ──█══█▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓█══█ ─▄█══█▐▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▌█══█▄ ─█████▐▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▌─█████ ─██████▐▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▌─██████ ──▀█▀█──▐▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▌───█▀█▀ ─────────▐▓▓▓▓▓▓▌▐▓▓▓▓▓▓▌ ──────────▐▓▓▓▓▌──▐▓▓▓▓▌ ─────────▄████▀────▀████▄ ─────────▀▀▀▀────────▀▀▀▀' %>
	<h1>This guy is so lazy, he did not move his finger once here.</h1>
	
</div>
