<div class="container">
	<h2>Edit</h2>

	<%= form_for @comment , :url => topic_comment_path(@topic , @comment) , :method => :patch do |f| %>
		<%= render :partial => "form" , :locals => {:f => f} %>
		<%= link_to "Cancel" , topic_path(@topic) , :class => "btn btn-primary pull-right" %>
	<% end %> 
</div>
	